@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body{
  /* font-family: "Playpen Sans", cursive; */
  
  font-family: "Sriracha", cursive !important;
  font-weight: 400;
  font-style: normal;
}
/* @media (max-width: 768px) {
  body {
    font-family: "Reddit Sans Condensed", sans-serif;
  }
} */

/* .active{
  background-color: blue;
  color: white !important;
  
} */
*, *::before, *::after {
  box-sizing: border-box;
}

.slick-dots li button:before {
  font-size: 12px;
}
.slick-dots li button:hover::before {
 color: #2b7ffd;
}
.slick-dots li.slick-active button:before {
  color: #2b7ffd;
  opacity: 1;
}