@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Playpen+Sans:wght@100..800&display=swap');

body{
  
  font-family: "Playpen Sans", cursive;
}

/* .active{
  background-color: blue;
  color: white !important;
  
} */
*, *::before, *::after {
  box-sizing: border-box;
}

.slick-dots li button:before {
  font-size: 12px;
}
.slick-dots li button:hover::before {
 color: #2b7ffd;
}
.slick-dots li.slick-active button:before {
  color: #2b7ffd;
  opacity: 1;
}